---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Aboutページ";

const identity = {
  author: "otayuichi",
  country: "日本/京都",
  occupation: "WebEnginneer",
  hobbies: ["コーディング", "ジム", "読書"],
};

const skills = ["HTML", "CSS", "Javascript", "React", "Astro", "Next.js"];

const skillColor = "orange";
const fontWegiht = "bold";
const textCase = "uppercase";
---

<style define:vars={{ skillColor, fontWegiht, textCase }}>
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWegiht);
    text-transform: var(--textCase);
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <h2>
    今回はAstroフレームワークを使い高速で動くブログを使っていきたいと思います。
  </h2>
  <p>いろんなフロントエンドの知識をつけて</p>
  <p>私について</p>
  <ul>
    <li>私の名前は{identity.author}</li>
    <li>私は{identity.country}に住んでいます。職業は{identity.occupation}</li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          私の趣味は2つあり1つは{identity.hobbies[0]}と{identity.hobbies[2]}
          です。
        </li>
      )
    }
  </ul>
  <p>私のスキルは</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>